.profile img {
  width: 100%;
}
.profile {
  background-color: white;  
  margin: 16px;
  text-align: justify;
  background-color: f1f1f1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}





